/* trong moi giao dien */
.main-container{
    background-color: rgba(243, 244, 246, 1);
    height: 100vh;
}
.page-container{
    padding-left: 15rem;
}

.page-header{
    background-color: rgba(243, 244, 246, 1);
}
.header-content{
    display: flex;
}
.page-header h1{
    font-size: 2rem;
    font-weight: 600;
    color: rgba(31, 41, 55, 1);
    padding: 1.5rem 1rem;
}
.dashboard-header{
    background-color: rgba(255,255,255,1);
    margin-bottom: 2rem;
}
.dashboard-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(31, 41, 55, 1);
    padding: 1.5rem 1rem;
}
/* chu y css o duoi */


.page-content{
    padding: 1rem;

}
.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-item{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

}
.dashboard-item h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(31, 41, 55, 0.5);
}
.dashboard-item p{
    font-size: 2rem;
    font-weight: 600;
    color: rgba(31, 41, 55, 1);
    margin: 0;
}

@media (max-width: 1024px) {
    html{
        font-size: 8px;
    }
    .page-container{
        padding-left: 0;
    }
}


