<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/check_warranty.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="warranty-container">
        <div class="warranty-header">
            <h2>Kiểm tra bảo hành máy tính xách tay</h2>
        </div>

        <form method="post" class="input-group">
            <input type="text" name="serialNumber" placeholder="Nhập số sê-ri" required />
            <button type="submit">Kiểm tra</button>
        </form>

        <div class="warranty-header">
            <h2>Kiểm tra kết quả</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Số sê-ri</th>
                    <th>Tên sản phẩm</th>
                    <th>Thời gian bắt đầu</th>
                    <th>Thời gian kết thúc</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</body>

</html>