<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/check_warranty.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="warranty-container">
        <div class="warranty-header">
            <h2>Kiểm tra bảo hành máy tính xách tay</h2>
        </div>

        <form action="/check-warranty" method="get" class="input-group">
            <input type="text" name="serialNumber" placeholder="Nhập số sê-ri" />
            <button type="submit">Kiểm tra</button>
        </form>

        <div th:if="${searched}">
            <div class="warranty-header">
                <h2>Kiểm tra kết quả</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Ảnh</th>
                        <th>Tên Laptop</th>
                        <th>Model</th>
                        <th>Số sê-ri</th>
                        <th>Thời hạn bảo hành</th>
                        <th>Ngày mua</th>
                        <th>Ngày hết hạn bảo hành</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(laptops)}">
                        <td colspan="7" class="no-results">Không tìm thấy kết quả nào.</td>
                    </tr>

                    <tr th:each="l : ${laptops}">
                        <td>
                            <img th:src="@{${l.laptop.imgUrl != null ? l.laptop.imgUrl : '/images/imgstd.jpg'}}"
                                width="100" />
                        </td>
                        <td th:text="${l.laptop.name}">Tên laptop</td>
                        <td th:text="${l.laptop.model.name}">Hãng</td>
                        <td th:text="${l.serialNumber}">Số sê-ri</td>
                        <td th:text="${l.laptop.warrantyPeriod + ' tháng'}">Hạn bảo hành</td>
                        <td th:text="${#temporals.format(l.createdAt.toLocalDateTime(), 'dd/MM/yyyy')}">Ngày mua</td>
                        <td
                            th:text="${#temporals.format(l.createdAt.toLocalDateTime().plusMonths(l.laptop.warrantyPeriod), 'dd/MM/yyyy')}">
                            Ngày hết hạn
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</body>

</html>