<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/history.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="history-container">
        <div class="history-header">
            <h2>Lịch sử bảo hành máy tính xách tay</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Ngày đặt</th>
                    <th>Tên Laptop</th>
                    <th>Số Serial</th>
                    <th>Vấn đề</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(historyList)}">
                    <td colspan="5" class="no-results">
                        Không có lịch sử bảo hành nào.
                    </td>
                </tr>
                <tr th:each="req : ${historyList}">
                    <td th:text="${#dates.format(req.bookingDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${req.customerLaptop.laptop.name}"></td>
                    <td th:text="${req.customerLaptop.serialNumber}"></td>
                    <td th:text="${req.description}"></td>
                    <td th:switch="${req.status.name()}">
                        <span th:case="'PENDING'">Chờ xử lý</span>
                        <span th:case="'APPROVED'">Đang xử lý</span>
                        <span th:case="'COMPLETED'">Hoàn thành</span>
                        <span th:case="'REJECTED'">Bị từ chối</span>
                        <span th:case="*">Không xác định</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</body>

</html>