<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/information.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="profile-container">
        <div class="profile-info">
            <div class="profile-header">
                <h2>Change Information</h2>
            </div>
            <div class="form-group">
                <label>Username:</label>
                <input type="text" placeholder="Enter your username">
            </div>

            <div class="form-group">
                <label>Fullname:</label>
                <input type="text" placeholder="Enter your fullname">
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="text" placeholder="Enter your email">
            </div>

            <div class="form-group">
                <label>Phone:</label>
                <input type="text" placeholder="Enter your phone">
            </div>

            <div class="form-group">
                <label>Sex:</label>
                <div class="radio-group">
                    <label><input type="radio" name="gender" checked> Nam</label>
                    <label><input type="radio" name="gender"> Nữ</label>
                    <label><input type="radio" name="gender"> Khác</label>
                </div>
            </div>
            <button class="save-btn">Lưu</button>
        </div>

        <div class="profile-photo">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar">
            <div class="upload-btn">
                <label for="file-upload" class="upload-label">Chose Image</label>
                <input id="file-upload" type="file" accept="image/png, image/jpeg">
            </div>
            <p class="note">Maximum file size 1 MB<br>Format: .JPEG, .PNG</p>
        </div>
    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</body>

</html>