<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/information.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="profile-container">

        <div class="profile-info">
            <div class="profile-header">
                <h2>Thay đổi thông tin</h2>
            </div>

            <div th:if="${success}" class="success" th:text="${success}"></div>
            <form th:action="@{/information}" th:object="${updateInfoDTO}" method="post">
                <div class="form-row">
                    <div class="form-group">
                        <label>Tên người dùng:</label>
                        <input type="text" th:field="*{username}" placeholder="Nhập tên người dùng" readonly>
                    </div>

                    <div class="form-group">
                        <label>Họ và tên:</label>
                        <input type="text" th:field="*{fullname}" placeholder="Nhập họ và tên">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" th:field="*{email}" placeholder="Nhập email">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            style="margin: 5px 0 5px; color: red;"></span>
                    </div>

                    <div class="form-group">
                        <label>Số điện thoại:</label>
                        <input type="text" th:field="*{phone}" placeholder="Nhập số điện thoại">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>Mật khẩu mới:</label>
                        <input type="password" th:field="*{newPassword}" placeholder="Nhập mật khẩu mới">
                        <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="margin: 5px 0 5px; color: red;"></div>
                    </div>
                    <div class="form-group">
                        <label>Nhập lại mật khẩu:</label>
                        <input type="password" th:field="*{confirmPassword}" placeholder="Nhập lại mật khẩu">
                    </div>
                </div>

                <button class="save-btn" type="submit">Lưu</button>
            </form>

        </div>
    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</body>

</html>