<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/assets/css/user/login.css}">


    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="form-header">
            <div class="titles">
                <div class="title-login">Đăng Nhập</div>
                <div class="title-register">Đăng Ký</div>
            </div>
        </div>
        <!-- LOGIN FORM -->
        <form action="user/custom-login" method="post" class="login-form" autocomplete="off">
            <div class="input-box">
                <input type="text" class="input-field" name="username" required>
                <label class="label">Tên đăng nhập</label>
                <i class='bx bx-envelope icon'></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" required>
                <label class="label">Mật khẩu</label>
                <i class='bx bx-lock-alt icon'></i>
            </div>
            <div class="form-cols">
                <div class="col-1"></div>
                <div class="col-2">
                    <a href="#">Quên mật khẩu?</a>
                </div>
            </div>
            <div class="input-box">
                <button class="btn-submit" id="SignInBtn" type="submit">Đăng nhập <i class='bx bx-log-in'></i></button>
            </div>
            <div class="switch-form">
                <span>Bạn chưa có tài khoản? <a href="#" onclick="registerFunction()">Đăng ký</a></span>
            </div>
        </form>

        <!-- REGISTER FORM -->
        <form action="/user/register" method="post" class="register-form" autocomplete="off">
            <div class="input-box">
                <input type="text" class="input-field" name="username" required>
                <label class="label">Tên đăng nhập</label>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" name="email" required>
                <label class="label">Email</label>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" required>
                <label class="label">Mật khẩu</label>
            </div>
            <div class="form-cols">
                <div class="col-1">
                    <input type="checkbox" id="agree">
                    <label for="agree"> Tôi đồng ý với các điều khoản và điều kiện</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="input-box">
                <button class="btn-submit" id="SignUpBtn" type="submit">Đăng ký <i class='bx bx-user-plus'></i></button>
            </div>
            <div class="switch-form">
                <span>Đã có tài khoản? <a href="#" onclick="loginFunction()">Đăng nhập</a></span>
            </div>
        </form>
    </div>
    <script th:src="@{/assets/js/user/script.js}"></script>
</body>

</html>