<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/schedule_warranty.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="schedule-container">
        <div class="schedule-header">
            <h2>Đặt lịch gia hạn bảo hành</h2>
        </div>

        <form>
            <div class="form-group">
                <label for="name">Họ và tên:</label>
                <input type="text" id="name" placeholder="Nhập họ và tên" required>
            </div>

            <div class="form-group">
                <label for="email">Địa chỉ email:</label>
                <input type="email" id="email" placeholder="Nhập email của bạn" required>
            </div>

            <div class="form-group">
                <label for="serial">Số sê-ri máy tính xách tay:</label>
                <input type="text" id="serial" placeholder="Nhập số sê-ri máy tính xách tay của bạn" required>
            </div>

            <div class="form-group">
                <label for="date">Ngày mong muốn:</label>
                <input type="date" id="date" required>
            </div>

            <div class="form-group">
                <label for="notes">Ghi chú bổ sung:</label>
                <textarea id="notes" placeholder="Mọi yêu cầu hoặc thông tin đặc biệt..."></textarea>
            </div>

            <button type="submit">Đặt lịch ngay</button>
        </form>
    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</body>

</html>