<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/schedule_warranty.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="schedule-container">
        <div class="schedule-header">
            <h2>Đặt lịch gia hạn bảo hành</h2>
        </div>


        <div th:if="${success != null}" class="success" th:text="${success}"></div>
        <form th:action="@{/schedule-warranty}" th:object="${warrantyRequestDTO}" method="post"
            enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Họ và tên:</label>
                <input type="text" id="name" th:field="*{fullname}" placeholder="Nhập họ và tên">
                <p th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"
                    style="margin: 5px 0 5px; color: red;"></p>
            </div>

            <div class="form-group">
                <label for="bookingDate">Ngày đặt lịch:</label>
                <input type="date" id="bookingDate" th:field="*{bookingDate}">
                <p th:if="${#fields.hasErrors('bookingDate')}" th:errors="*{bookingDate}"
                    style="margin: 5px 0 5px; color: red;"></p>
            </div>

            <div class="form-group">
                <label for="phone">Điện thoại:</label>
                <input type="text" id="phone" th:field="*{phone}" placeholder="Nhập số điện thoại">
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="margin: 5px 0 5px; color: red;">
                </p>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" th:field="*{email}" placeholder="Nhập email của bạn">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="margin: 5px 0 5px; color: red;">
                </p>
            </div>

            <div class="form-group">
                <label for="adrress">Địa chỉ:</label>
                <input type="text" id="adrress" th:field="*{address}" placeholder="Nhập số địa chỉ">
                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                    style="margin: 5px 0 5px; color: red;"></p>
            </div>

            <div class="form-group">
                <label for="serial">Số sê-ri:</label>
                <input type="text" id="serial" th:field="*{serialNumber}" placeholder="Nhập số sê-ri">
                <p th:if="${error != null}" style="margin: 5px 0 5px; color: red;" th:text="${error}"></p>
            </div>

            <div class="form-group">
                <div class="custom-file-upload">
                    <label for="images">Ảnh minh họa:</label>
                    <input type="file" id="images" name="images" multiple>
                </div>
                <ul id="fileList"></ul>
                <p th:if="${imageError != null}" style="margin: 5px 0 5px; color: red;" th:text="${imageError}"></p>
            </div>

            <div class="form-group">
                <label for="description">Mô tả:</label>
                <textarea id="description" th:field="*{description}" placeholder="Nhập mô tả ..."></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                    style="margin: 5px 0 5px; color: red;"></p>
            </div>

            <button type="submit">Đặt lịch ngay</button>
        </form>

    </div>
    <div th:replace="user/fragments/footer :: footer"></div>

    <script>
        const input = document.getElementById('images');
        const fileList = document.getElementById('fileList');

        input.addEventListener('change', () => {
            fileList.innerHTML = "";
            Array.from(input.files).forEach((file, index) => {
                if (file.type.startsWith("image/")) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        let li = document.createElement('li');

                        let img = document.createElement('img');
                        img.src = e.target.result;

                        let removeBtn = document.createElement('span');
                        removeBtn.classList.add("remove");
                        removeBtn.innerHTML = "&times;";
                        removeBtn.onclick = () => {
                            li.remove();
                        };

                        li.appendChild(img);
                        li.appendChild(removeBtn);
                        fileList.appendChild(li);
                    };
                    reader.readAsDataURL(file);
                } else {
                    let li = document.createElement('li');
                    li.textContent = file.name + " (" + Math.round(file.size / 1024) + " KB)";
                    fileList.appendChild(li);
                }
            });
        });
    </script>
</body>

</html>