<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Spare Parts</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/search_parts.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="lookup-container">
        <div class="lookup-header">
            <h2>Check Spare Parts</h2>
        </div>

        <div class="form-group">
            <input type="text" placeholder="Enter part name or product serial">
            <button>Lookup</button>
        </div>

        <div class="lookup-header">
            <h2>Search Results for Spare Parts</h2>
        </div>

        <div class="part-card">
            <img class="part-image" th:src="@{/images/imgstd.jpg}" alt="Spare Part">
            <div class="part-info">
                <h3>Micron 7450 3.2T MTFDKCC3T2TFS-1BC45ABYY 4k SED U.3 SSD with 2.5 HS tray CSP I4</h3>
                <p><strong>Part No:</strong> 03LA326</p>
                <p><strong>Commodity:</strong> DRIVES AND STORAGE - SSD_ASM</p>
            </div>
        </div>

        <div class="part-card">
            <img class="part-image" th:src="@{/images/imgstd.jpg}" alt="Spare Part">
            <div class="part-info">
                <h3>Kingston 1TB SSD NVMe Gen4 with heat sink</h3>
                <p><strong>Part No:</strong> KSN1TBG4</p>
                <p><strong>Commodity:</strong> STORAGE DEVICES</p>
            </div>
        </div>
    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</body>

</html>