<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Spare Parts</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/search_parts.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

</head>

<body>
    <div th:replace="user/fragments/header :: header"></div>
    <div class="lookup-container">
        <div class="lookup-header">
            <h2>Kiểm tra linh kiện</h2>
        </div>

        <form th:action="@{/user/search-parts}" method="get" class="form-group">
            <input type="text" name="keyword" placeholder="Nhập tên linh kiện cần tìm"
                th:value="${keyword}">
            <button type="submit">Tra cứu</button>
        </form>

        <div class="lookup-header">
            <h2>Kết quả tìm kiếm linh kiện</h2>
        </div>

        <div th:if="${parts != null and !parts.isEmpty()}" class="result-scroll">
            <div th:each="part : ${parts}" class="part-card">
                <img class="part-image" th:src="@{${part.imgUrl != null ? '../' + part.imgUrl : '/images/imgstd.jpg'}}">

                <div class="part-info">
                    <h3 th:text="${part.name}">Tên linh kiện</h3>
                    <p><strong>Mã sản phẩm:</strong> <span th:text="${part.id}">ID</span></p>
                    <p><strong>Mặt hàng:</strong> <span th:text="${part.partType.name}">Loại</span></p>
                </div>
            </div>
        </div>

        <div th:if="${parts == null or parts.isEmpty()}" class="no-results">
            <p>Không tìm thấy linh kiện phù hợp.</p>
        </div>
    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</body>

</html>