/* trong moi giao dien */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    background-color: rgba(243, 244, 246, 1);
    min-height: 100vh;
    width: 100vw;
}
.page-container{
    padding-left: 15rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.page-header{
    background-color: rgba(243, 244, 246, 1);
}
.header-content{
    display: flex;
}
.page-header h1{
    font-size: 2rem;
    font-weight: 600;
    color: rgba(31, 41, 55, 1);
    padding: 1.5rem 1rem;
}
.dashboard-header{
    background-color: rgba(255,255,255,1);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(31, 41, 55, 1);
    padding: 1.5rem 1rem;
}

/*trong moi giao dien*/

.page-content{
    background-color: rgba(255, 255, 255, 1);
    margin: 1rem;

}

.form-header{
    font-weight: 600;
    color: rgba(31, 41, 55, 1);
    border-bottom: 0.2px solid #e5e5e5;
    display: flex;
    padding: 1rem;
}

.form-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.input-content{
    padding: 0.5rem;
}

.input-content p{
    margin-left: 0.5rem;
}

.table-container{
    background-color: rgba(255,255,255,1);
    margin: 1rem;

}

.table-content img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.table-header{
    font-weight: 600;
    color: rgba(31, 41, 55, 1);
    border-bottom: 0.2px solid #e5e5e5;
    display: flex;
    padding: 1rem;
}

.table-content{
    padding: 1rem;
}