body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.profile-container {
    max-width: 1000px;
    margin: 100px auto 40px;
    border: 1px solid #eee;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.profile-photo {
    flex: 1;
    text-align: center;
    border-left: 1px solid #eee;
    padding-left: 30px;
}

.profile-header h2 {
    margin-top: 0;
    font-size: 28px;
    margin-bottom: 20px;
}

.profile-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.sub-heading {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.save-btn {
    background-color: #000;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    width: 100px;
}

.save-btn:hover {
    background-color: #767676;
}

.success{
    color: green;
    padding: 15px;
    background-color: rgb(204, 233, 204);
    margin-bottom: 10px;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        gap: 20px;
    }

    .profile-photo {
        border-left: none;
        border-bottom: 1px solid #eee;
        padding-left: 0;
        padding-bottom: 20px;
    }

    .profile-info {
        padding-top: 10px;
    }
}