*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.form-cols a, .switch-form a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.form-cols a:hover, .switch-form a:hover{
    text-decoration: underline;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 430px;
    height: 500px;
    background-color: #fff;
    padding: 120px 32px 64px;
    border: 1px solid #0D1936;
    transition: 0.3s;
    overflow: hidden;
    
}

.form-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    background-color: #0D1936;
}
.form-header::before, .form-header::after{
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
}
.form-header::before{
    left: -30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 #0D1936;
}
.form-header::after{
    right: -30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 #0D1936;
}

.titles{
    position: relative;
}
.title-login, .title-register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 24px;
    transition: 0.3s;
}
.title-register{
    top: 50px;
}

.login-form, .register-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    transition: 0.3s;
}
.register-form{
    left: 150%;
}

.input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: #000;
    padding: 0 20px;
    border: 1px solid #767676;
    outline: none;
    transition: 0.3s;
}
.input-field:focus{
    border: 1px solid #0D1936;
}
.label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #535354;
    transition: 0.2s;
    cursor: text;
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    top: 0;
    font-size: 14px;
    background-color: #fff;
    color: #0D1936;
    padding: 0 10px;
}
.input-field:valid ~ .label{
    color: #535354;
}
.icon{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #535354;
}

.form-cols{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.col-1{
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn-submit:hover{
    background-color: #767676;
}
.btn-submit i{
    font-size: 20px;
}
.switch-form{
    text-align: center;
}
.switch-form a{
    font-weight: 500;
}

@media only screen and (max-width: 564px){
    .wrapper{
        margin: 20px;
    }
}