<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý laptop</title>
    <link rel="stylesheet" th:href="@{/assets/css/admin/pages/laptop/index.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin/fragments/nav-side.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin/fragments/nav-top.css}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
</head>
<body>
<div class="main-container">
    <div th:replace="admin/fragments/nav-side :: nav-side"></div>
    <div th:replace="admin/fragments/nav-top :: nav-top"></div>
    <div class="page-container">
        <div class="page-header">
            <div class="header-content">
                <h1>Admin /</h1><h1>Quản lý laptop</h1>
            </div>
        </div>
        <div class="dashboard-header">
            <div class="dashboard-title">
                <h1>Danh sách laptop</h1>
            </div>
            <div class="add-btn">
                <a href="laptop/create">Thêm laptop</a>
            </div>
        </div>

        <div class="table-container">
            <table id="myTable" class="table-content">
                <thead>
                <tr>
                    <th>Mã</th>
                    <th>Ảnh</th>
                    <th>Tên</th>
                    <th>Mã model</th>
                    <th>Thời hạn bảo hành</th>
                    <th>Ngày tạo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><img th:src="@{/assets/images/vehicle-img/0d474d0b-da0b-40cc-b074-120e01469500_vision2.jpg}"></td>
                    <td>Dell</td>
                    <td>12e3</td>
                    <td>3 năm</td>
                    <td>12/01/2025</td>
                    <td class="px-2 py-1">
                        <div class="flex gap-2">
                            <a href="vehicle/edit" class="edit-btn flex items-center gap-1 px-2 py-1" title="Bấm vào để xem chi tiết">
                                Chi tiết
                                <span class="material-symbols-outlined">
edit
</span>
                            </a>
                            <form action="" class="delete-btn flex items-center justify-center px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600">
                                <button class="flex item-center justify-center">
                                    Xóa <span class="material-symbols-outlined">
delete
</span>
                                </button>
                            </form>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>


        </div>


    </div>
</div>



<script th:src="@{/assets/js/admin/script.js}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new DataTable("#myTable", {
            paging: true,        // Bật phân trang
            searching: true,     // Bật tìm kiếm
            ordering: true,      // Cho phép sắp xếp
            info: true,          // Hiển thị số dòng đang xem
            lengthMenu: [10, 20, 30, 40], // Tùy chọn số dòng hiển thị
            language: {
                search: "Tìm kiếm:",
                lengthMenu: "Hiển thị _MENU_ dòng",
                info: "Hiển thị _START_ đến _END_ của _TOTAL_ dòng",
                paginate: {
                    first: "Đầu",
                    last: "Cuối",
                    next: "Tiếp",
                    previous: "Trước"
                }
            }
        });
    });
</script>
</body>
</html>