.nav-aside {
    position: fixed;
    width: 15rem;
    height: 100vh;
    left: 0;
    z-index: 501;
    transition-property: all;
    background-color: rgba(31, 41, 55, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms;
}

.profile-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-content {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(17, 24, 39, 1);
    padding: 1rem;
    height: 5rem;
}

.profile-content p {
    margin: 0.25rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;

}

.heading-menu {
    font-weight: 600;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    text-transform: uppercase;
    margin: 0.25rem;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.menu-item {
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;

}

.menu-item a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
}

.menu-item-icon {
    margin-left: 0.5rem;
}

.icon {
    margin-right: 0.625rem;
}


.menu-item:hover {
    background-color: #2C3545;
    transition: 5ms;

}

.menu-item.active {
    font-weight: 700;
    background-color: #2C3545;
}

@media (max-width: 1024px) {
    html {
        font-size: 8px;
    }

    .nav-aside {
        left: -15rem;
    }
}