<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header HP</title>
    <link rel="stylesheet" th:href="@{/assets/css/user/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <img th:src="@{/images/2048px-HP_logo_2012.svg.png}" alt="HP Logo">
                <nav class="nav-links">
                    <a href="#">Support</a>
                    <a href="#">Contact</a>
                </nav>
            </div>
            <div class="search-login">
                <div class="search-box">
                    <input type="text" placeholder="Search for support">
                    <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <button class="login-btn">Login</button>
            </div>
        </div>
    </header>
</body>
</html>